/* .App {
  text-align: center;
} */

div.container{
  
  width: 100%;
}
/*++++++++++++++++++++++ START OF NAVBAR ++++++++++++++++++++++++++++++++ */
nav {
 margin-top: 0;
  display: inline-flex;
  justify-content: start;
  text-align: center;
  font-size : 20px;
  color:#0c2d11; 
  width: 100%
}

.App-header {
  
  position: fixed;
  background-color: #35b91e;
  min-height: 5dvh;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 3dvh;
  font-size: 25px;
  color: rgb(3, 50, 13);  
}

.active {
   color: white
}
/*++++++++++++++++++++++ END OF NAVBAR ++++++++++++++++++++++++++++++++ */

/*++++++++++++++++++++++ START OF AUTH FORMS ++++++++++++++++++++++++++++++++ */
header{   
  display: inline-flex;
  justify-content: end;
  text-align: center;
  font-size : 20px;
  color:#0c2d11; 
  margin-top: 50px;
  width: 100%;
  /* border:  solid 2px rgba(0, 63, 13, 0.659); */
}

header.auth-container{
  justify-content: space-around;
  margin-right:15px;
  padding: 10px;
  background-color: rgba(24, 225, 51, 0.355);
  border-radius: 5px;  
  
}

.auth-label{
  display: inline-block;
  clear: left;
  width: 380px;
  text-align: right;
}

.auth-input{    /*job card container */
  display: inline-block;
  border:  solid 2px rgba(0, 63, 13, 0.659);
  border-radius: 5px;
  font-size: 16px;
  margin-left: 5px;
  margin-bottom: 5px;
  height: 25px;
  width: 200px;
  max-width: 300px;
 
}
/*++++++++++++++++++++++ END OF AUTH FORMS ++++++++++++++++++++++++++++++++ */

 /*++++++++++++++++++++++ START OF HOME PAGE ++++++++++++++++++++++++++++++++ */
 .welcome{
  width: 100%;
  height: 80vh;  
}

.welcome-font{
  color: ivory;
  position: absolute;
  left: 35%; 
  top: 35%;
  text-align: center;
 }

#welcome-image {
  background-image: url('https://www.cerritoslibrary.us/media/qppdls54/2childrens-area1.jpg');
  background-repeat: no-repeat; 
  background-size: 100%;
  height: 70dvh;
  width: 100%;
  
}


#stat-cards{
  padding: 5px 16px;
  background-color: rgb(76, 230, 96);
  height: 200px;
  margin-top: 20%;
  border-radius: 5px;  
  border: 3px solid rgba(72, 86, 72, 0.13);
  justify-content: space-evenly;
}

div.stat-card{
  display: inline-flex;
  align-items: center;
  font-size: 25px;
  color: rgb(49, 239, 144);
  margin: 45px;
  width: 25%;
  height: 200px;
  padding-top: 8%;
  border-radius: 15px;
  background-color: rgba(2, 2, 85, 0.801);
}

#litquest{
  background-image: url('https://images.unsplash.com/photo-1599689868384-59cb2b01bb21?q=80&w=1646&auto=format&fit=fill&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  display: inline-flex;
  color: #fcf9f9;
  padding-bottom: 10px;
}

#kid-benefits{
  display: inline-flex;
  width: 200px;
  height: 200px;
  /* align-items: center; */
  font-size: 20px;
  color:rgb(2, 2, 85);
  margin: 45px;
  padding: 15px;
  border-radius: 15px;
  background-color: rgba(41, 214, 127, 0.766);
}
#children{
  margin-top: 20px;
  padding-left: 70px;
  background: rgba(224, 225, 227, 0.484); 
  padding-top: 15px;
}

#parents {
  background-image:  url("https://images.unsplash.com/photo-1501349800519-48093d60bde0?q=80&w=1680&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
 
  /* height: fit-content;
  width: fit-content; */
}

#parent-benefits{
  display: inline;
  text-align: right;
  font-size: 20px;
  color:rgb(33, 31, 28);
  padding: 5px;
}

h2{
  text-align: center;
   margin-top: 10px;
}

img#parent-portal{
  background-image: url("./components/Parents-view of child summaries.png");
  float: right; 
  height: 100px;
  width: 200px;
  object-fit: contain;
  display: inline-flex;
  height: 300px;
  width: 620px;
  padding: 10px;
}

img#child-portal{
  background-image: url("./components/Book and Summaries.png");
  /* margin-right: 50%;  */
  object-fit: contain;
  display: inline-flex;
  height: 300px;
  width: 390px;
  padding: 10px;
}
/*++++++++++++++++++++++ END OF HOME PAGE ++++++++++++++++++++++++++++++++ */
/*++++++++++++++++++++++ START OF KIDS CARDS- PARENT/CHILDREN LIST ++++++++++++++++++++++++++++++++ */
.card{
  display: inline-block;
  border: 1px solid rgb(134, 149, 136);
  margin: 30px;
  width: 20%;
  height: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.415);
  transition: 0.3s;
  border-radius: 5px;
  
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 5px 8px 16px 0 rgba(0, 0, 0, 0.39);
}

/* Add some padding inside the card container */
div.card-container {
  padding: 2px 16px;
  background-color: rgba(24, 225, 51, 0.355);
  height: 170px;
  margin-top: 110px;
  border-radius: 0 0 5px;  
}


.avatar{
  width: 125px;
  height: 125px;
  border-radius: 60px ;
  position: relative;
  margin-left: 20%;
  margin-top: 15px;
  text-decoration: none; 
}
/*++++++++++++++++++++++ END OF KIDS CARDS- PARENT/CHILDREN LIST  ++++++++++++++++++++++++++++++++ */

/*++++++++++++++++++++++ START OF BOOK LIST- PARENT/CHILD DETAILS ++++++++++++++++++++++++++++++++ */
.book{
  display: inline-flex;
  border: 1px solid rgb(65, 78, 67);
  text-align: left;
  padding: 15px;
  margin-bottom: 10px;
  margin-right: 20px;
 
}
/*++++++++++++++++++++++ END OF BOOK LIST- PARENT/CHILD DETAILS ++++++++++++++++++++++++++++++++ */

/*++++++++++++++++++++++ START OF CHILD SUMMARIES-PARENT VIEW ++++++++++++++++++++++++++++++++ */
.single-book{
   border: 1px solid rgb(65, 78, 67);
   margin: 20px;
   padding: 10px;
}
/*++++++++++++++++++++++ END OF CHILD SUMMARIES-PARENT VIEW ++++++++++++++++++++++++++++++++ */

/*++++++++++++++++++++++ START OF BOOKS DISPLAYS-CHILD VIEW ++++++++++++++++++++++++++++++++ */
.book-details{
  margin: 10px;
  display: inline-flex;
  text-align: left;
}


.thumbnail{
  display: block;
  text-align: center;
  height: 200px;
  width: 150px;
  padding: 10px;
}

img {
  height: 150px;
 width: 150px;
  float: left;
  margin-bottom: 5px;

}
.caption{
  float: left;
  display: flex;
  font-size: 12px; 
  
}
/*++++++++++++++++++++++ END OF CHILD BOOKS DISPLAY-CHILD VIEW ++++++++++++++++++++++++++++++++ */

/*++++++++++++++++++++++ START OF CHILD SUMMARIES FORM-CHILD VIEW ++++++++++++++++++++++++++++++++ */
div.form-container{
  text-align: start;
  font-size : 16px;
  color:#123024;  
  background-color:#70d4862e;
  border:  5px, solid, rgb(50, 72, 3) ;
  border-radius: 10px;
  margin: auto;
  padding-left: 5vh;
  padding-top: 20px;
  padding-bottom: 30px;
  width : 700px;
}
div.form-container + input{
  border:  solid 2px rgba(0, 63, 13, 0.353);
  border-radius: 5px;
  font-size: 16px;
  margin: 10px;
  height: 20px;
  width: 550px;
  max-width: 600px;
}
textarea{
  border-radius: 5px;
  border:  solid 2px rgba(0, 63, 13, 0.353);
  font-size: 16px;
  margin: 10px;
  height: 25px;
  width: 450px;
}
/*++++++++++++++++++++++ END OF BOOK/SUMMARIES FORMS-CHILD VIEW ++++++++++++++++++++++++++++++++ */
/*++++++++++++++++++++++ START OF FOOTER ICONS +++++++++++++++++++++++++++++++++++++*/
footer{
  width: 100%;
  height: 20dvh;
  display:flex;
  flex-direction: column;
  padding: 10px;
  background-color: #043d0d;
  color: white ;
  font-size: 18px;
}
ul.social{
  display: inline-flex;
  justify-content: space-evenly;
  font-size: 30px;
  color: white;
}
/*++++++++++++++++++++++ END OF FOOTER ICONS +++++++++++++++++++++++++++++++++++++*/