@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

button{
  margin: 10px;
  border-radius: 10px ; 
  color: green;
}
/*++++++++++++++++++++++ START OF NAVBAR ++++++++++++++++++++++++++++++++ */
nav {
  display: inline;
  font-family: 'Acme', sans-serif;
  font-size : 25px;
  color:#0c2d11; 
  width: 100%;
}

.App-header {
  background-color: #35b91e;
  min-height: 5dvh;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 3dvh;
  font-size: 25px;
  color: rgb(3, 50, 13);  
}

.active {
   color: white
}
/*++++++++++++++++++++++ END OF NAVBAR ++++++++++++++++++++++++++++++++ */

/*++++++++++++++++++++++ START OF AUTH FORMS ++++++++++++++++++++++++++++++++ */
header{   
  display: inline-flex;
  text-align: center;
  font-size : 20px;
  color:#0c2d11; 
  width: 100%;
}

header.auth-container{
  justify-content: space-around;
  margin-right:15px;
  padding: 10px;
  background-color: rgba(24, 225, 51, 0.355);
  border-radius: 5px;  
  
}

.auth-label{
  display: inline-block;
  clear: left;
  width: 380px;
  text-align: right;
}

.auth-input{    /*job card container */
  display: inline-block;
  border:  solid 2px rgba(0, 63, 13, 0.659);
  border-radius: 5px;
  font-size: 16px;
  margin-left: 5px;
  margin-bottom: 5px;
  height: 25px;
  width: 200px;
  max-width: 300px;
 
}
/*++++++++++++++++++++++ END OF AUTH FORMS ++++++++++++++++++++++++++++++++ */

 /*++++++++++++++++++++++ START OF HOME PAGE ++++++++++++++++++++++++++++++++ */
 .welcome{
  width: 100%;
  height: 80vh;  
}

.welcome-font{
  color: rgb(248, 248, 248);
  position: absolute;
  left: 30%;  
  top: 35%;
  text-align: center;
  font-family: 'Acme', sans-serif;
  text-shadow: 4px 3px 2px #640404;
  /* background-color: rgba(246, 248, 246, 0.383); */
  
 }

#welcome-image {
  background-image: url('https://images.unsplash.com/photo-1457369804613-52c61a468e7d?q=80&w=3270&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: 100%;
  height: 70dvh;
  width: 100%;
}


div.stat-card{
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 25px;
  color: rgb(49, 239, 144);
  margin: 45px;
  width: 25%;
  height: 200px;
  padding-top: 8%;
  border-radius: 15px;
  background-color: rgba(2, 2, 85, 0.801);
  box-shadow: 15px 14px 15px 0px rgba(0, 0, 0, 0.182);
}

#litquest{
  background-image: url('https://images.unsplash.com/photo-1599689868384-59cb2b01bb21?q=80&w=1646&auto=format&fit=fill&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  display: inline-flex;
  color: #fcf9f9;
  text-shadow: 3px 2px 1px #760505;
  padding-bottom: 10px;
}

#children{
  padding-left: 70px;
  background: rgba(224, 225, 227, 0.484); 
  padding-top: 15px;
}

#kid-benefits{
  display: inline-flex;
  width: 200px;
  height: 200px;
  font-size: 20px;
  color:rgb(2, 2, 85);
  margin: 45px;
  padding: 15px;
  border-radius: 15px;
  background-color: rgba(41, 214, 127, 0.766);
  box-shadow: 0px 14px 18px 10px rgba(0, 0, 0, 0.22);
}


#parents {
  background-image:  url("https://images.unsplash.com/photo-1501349800519-48093d60bde0?q=80&w=1680&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

#parent-benefits p{
  display: inline-flex;
  text-align: left;
  font-size: 20px;
  color:rgb(33, 31, 28);
  padding: 5px;
  margin-left: 30%;
  
}

h2{
  text-align: center;
}

div#parent-portal{
  background-image: url("./components/Parents-view of child summaries.png");
  float: right; 
  height: 100px;
  width: 200px;
  object-fit: contain;
  display: inline-flex;
  height: 300px;
  width: 620px;
  padding: 10px;
}

div#child-portal{
  background-image: url("./components/Book and Summaries.png");
  /* margin-right: 50%;  */
  object-fit: contain;
  display: inline-flex;
  height: 300px;
  width: 390px;
  padding: 10px;
}
/*++++++++++++++++++++++ END OF HOME PAGE ++++++++++++++++++++++++++++++++ */
/*++++++++++++++++++++++ START OF KIDS CARDS- PARENT/CHILDREN LIST ++++++++++++++++++++++++++++++++ */

.card{
  display: flex;
  border: 1px solid rgb(134, 149, 136);
  margin: 30px;
  width: 15%;
  height: 350px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.415);
  transition: 0.3s;
  border-radius: 5px;
  float: left;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 5px 8px 16px 0 rgba(0, 0, 0, 0.39);
}

/* green square */
div.card-container {
  padding: 15px;
  background-color: rgba(24, 225, 51, 0.302);
  height: 250px;
  border-radius: 0 0 5px;  
}

.avatar{
  width: 125px;
  height: 125px;
  border-radius: 60px ;
  position: relative;
  /* justify-content: center; */
  margin-left: 25%;
  margin-top: 10%;
}
/*++++++++++++++++++++++ END OF KIDS CARDS- PARENT/CHILDREN LIST  ++++++++++++++++++++++++++++++++ */

/*++++++++++++++++++++++ START OF BOOK LIST- PARENT/CHILD DETAILS ++++++++++++++++++++++++++++++++ */
.book{
  background-color: rgba(216, 254, 222, 0.995);
  /* border: 1px solid rgba(169, 196, 174, 0.689); */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.22);
  text-align: left;
  padding: 1.5%;
  margin-bottom: 2%;
  margin: 2%;
 
}
/*++++++++++++++++++++++ END OF BOOK LIST- PARENT/CHILD DETAILS ++++++++++++++++++++++++++++++++ */

/*++++++++++++++++++++++ START OF CHILD SUMMARIES-PARENT VIEW ++++++++++++++++++++++++++++++++ */
.single-book{
   border: 1px solid rgb(65, 78, 67);
   margin: 20px;
   padding: 10px;
}
/*++++++++++++++++++++++ END OF CHILD SUMMARIES-PARENT VIEW ++++++++++++++++++++++++++++++++ */

/*++++++++++++++++++++++ START OF BOOKS DISPLAYS-CHILD VIEW ++++++++++++++++++++++++++++++++ */
.book-details{
  margin: 10px;
  display: inline-flex;
  text-align: left;
}


.thumbnail{
  display: block;
  text-align: center;
  height: 220px;
  width: 175px;
  padding: 10px;
}

img {
  height: 150px;
  width: 150px;
  float: left;
  margin-bottom: 5px;

}
.caption{
  float: left;
  display: flex;
  font-size: 12px; 
  
}
/*++++++++++++++++++++++ END OF CHILD BOOKS DISPLAY-CHILD VIEW ++++++++++++++++++++++++++++++++ */

/*++++++++++++++++++++++ START OF CHILD SUMMARIES FORM-CHILD VIEW ++++++++++++++++++++++++++++++++ */
div.form-container{
  display: flex;
  text-align: right;
  font-size : 16px;
  color:#123024;  
  background-color:#70d4862e;
  border:  5px, solid, rgb(50, 72, 3) ;
  border-radius: 10px;
  margin: auto;
  padding-left: 5vh;
  padding-top: 20px;
  padding-bottom: 30px;
  width : 650px;
}

.form-container input{
  display: inline-block;
  align-items: right;
  border:  solid 2px rgba(0, 63, 13, 0.353);
  border-radius: 5px;
  font-size: 16px;
  margin: 10px;
  height: 25px;
  width: 400px;
  max-width: 600px;
}

.form-container textarea{
  display: inline-block;
  border-radius: 5px;
  border:  solid 2px rgba(0, 63, 13, 0.353);
  font-size: 16px;
  margin: 10px;
  height: 100px;
  width: 400px;
}
/*++++++++++++++++++++++ END OF BOOK/SUMMARIES FORMS-CHILD VIEW ++++++++++++++++++++++++++++++++ */
/*++++++++++++++++++++++ START OF FOOTER ICONS +++++++++++++++++++++++++++++++++++++*/
footer{
  display:flex;
  flex-direction: column;
  padding: 10px;
  background-color: #043d0d;
  color: white ;
  font-size: 18px;
  padding-bottom: 30px;
  
}
ul.social{
  display: inline-flex;
  justify-content: space-evenly;
  font-size: 30px;
}
/*++++++++++++++++++++++ END OF FOOTER ICONS +++++++++++++++++++++++++++++++++++++*/