.App {
  text-align: center;
}
 /*++++++++++++++++++++++ START OF HOME PAGE ++++++++++++++++++++++++++++++++ */
.home-page{
  margin-left: 15%;
  width: 1200px;
  height: 80vh;  
}

span.home-font{
  font-size: 80px;
  color: ivory;
  position: relative;
  top: 45vh;
  text-align: center;
}
/*++++++++++++++++++++++ END OF HOME PAGE ++++++++++++++++++++++++++++++++ */


/*++++++++++++++++++++++ START OF KIDS CARDS- PARENT/CHILDREN LIST ++++++++++++++++++++++++++++++++ */
.card{
  display: inline-block;
  border: 1px solid rgb(134, 149, 136);
  margin: 30px;
  width: 20%;
  height: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.415);
  transition: 0.3s;
  border-radius: 5px;
  
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 5px 8px 16px 0 rgba(0, 0, 0, 0.39);
}

/* Add some padding inside the card container */
div.container {
  padding: 2px 16px;
  background-color: rgba(24, 225, 51, 0.355);
  height: 170px;
  margin-top: 110px;
  border-radius: 0 0 5px;  
}


.avatar{
  width: 125px;
  height: 125px;
  border-radius: 60px ;
  position: relative;
  margin-left: 20%;
  margin-top: 15px;
  text-decoration: none; 
}
/*++++++++++++++++++++++ END OF KIDS CARDS- PARENT/CHILDREN LIST  ++++++++++++++++++++++++++++++++ */

/*++++++++++++++++++++++ START OF BOOK LIST- PARENT/CHILD DETAILS ++++++++++++++++++++++++++++++++ */
.book{
  display: inline-flex;
  border: 1px solid rgb(65, 78, 67);
  text-align: left;
  padding: 15px;
  margin-bottom: 10px;
  margin-right: 20px;
 
}
/*++++++++++++++++++++++ END OF BOOK LIST- PARENT/CHILD DETAILS ++++++++++++++++++++++++++++++++ */

/*++++++++++++++++++++++ START OF NAVBAR ++++++++++++++++++++++++++++++++ */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #35b91e;
  min-height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 3vh;
  font-size: 25px;
  color: rgb(6, 81, 22);
}

.active {
   color: white
}
/*++++++++++++++++++++++ END OF NAVBAR ++++++++++++++++++++++++++++++++ */

/*++++++++++++++++++++++ START OF AUTH FORMS ++++++++++++++++++++++++++++++++ */
.auth-container{    /*job card container */
  /* transition-timing-function: ease-in-out;
  transition-duration: 10s; */
  display: flex-box;
  font-size : 20px;
  color:#0c2d11; 
  padding-top: 30px;
  padding-bottom: 50px;
  width : 100%;
 
}
/*++++++++++++++++++++++ END OF AUTH FORMS ++++++++++++++++++++++++++++++++ */

/*++++++++++++++++++++++ START OF CHILD SUMMARIES-PARENT VIEW ++++++++++++++++++++++++++++++++ */
.single-book{
   border: 1px solid rgb(65, 78, 67);
   margin: 20px;
   padding: 10px;
}
/*++++++++++++++++++++++ END OF CHILD SUMMARIES-PARENT VIEW ++++++++++++++++++++++++++++++++ */

/*++++++++++++++++++++++ START OF BOOKS DISPLAYS-CHILD VIEW ++++++++++++++++++++++++++++++++ */
.book-details{
  margin: 10px;
  display: inline-flex;
  text-align: left;
}


.thumbnail{
  display: block;
  text-align: center;
  height: 200px;
  width: 150px;
  padding: 10px;
}

img {
  height: 150px;
 width: 150px;
  float: left;
  margin-bottom: 5px;

}
.caption{
  float: left;
  display: flex;
  font-size: 12px; 
  
}
/*++++++++++++++++++++++ END OF CHILD BOOKS DISPLAY-CHILD VIEW ++++++++++++++++++++++++++++++++ */

/*++++++++++++++++++++++ START OF CHILD SUMMARIES FORM-CHILD VIEW ++++++++++++++++++++++++++++++++ */
div.form-container{
  text-align: start;
  font-size : 16px;
  color:#123024;  
  background-color:#70d4862e;
  border:  5px, solid, rgb(50, 72, 3) ;
  border-radius: 10px;
  margin: auto;
  padding-left: 5vh;
  padding-top: 20px;
  padding-bottom: 30px;
  width : 700px;
}
div.form-container input{
  border:  solid 2px rgba(0, 63, 13, 0.353);
  border-radius: 5px;
  font-size: 16px;
  margin: 10px;
  height: 20px;
  width: 550px;
  max-width: 600px;
}
textarea{
  border-radius: 5px;
  border:  solid 2px rgba(0, 63, 13, 0.353);
  font-size: 16px;
  margin: 10px;
  height: 25px;
  width: 450px;
}
/*++++++++++++++++++++++ END OF BOOK/SUMMARIES FORMS-CHILD VIEW ++++++++++++++++++++++++++++++++ */